{% extends "layout.html" %}

{% block title %}
MLBB | Home
{% endblock %}


{% block content %}
    <!-- Start Left & Right Section -->
    <section class="mt-5">
        <div class="container-fluid px-xl-5 px-lg-4 px-md-3 px-sm-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-5 pe-lg-3 pe-0 ps-0 leftsections">
                    <img src="{{ url_for('static', filename='img/cover.jpg') }}" alt="coverimg" class="img-fluid coverimg" />
                    <div class="text-light mt-3 px-lg-0 px-md-0 px-2 articles">
                        <h5 class="mb-4">Mobile Legends</h5>

                        <p>
                            [23 - 29 Nov] Black Friday sale is here! Get $5 off GrabRide vouchers when you pay with GrabPay.
                            <br/>Min. spend $40 nett on any game title. T&Cs apply. Read more <a href="#" style="color:yellow;">here</a>
                        </p>

                        <p>
                            Top up Mobile Legends: Bang Bang Diamonds in seconds! Just enter your Mobile Legends: Bang Bang user ID, select the value of Diamonds you wish to purchase, complete the payment, and the Diamonds will be added immediately to your MLBB account.
                        </p>

                        <p>
                            Pay conveniently using PayNow, PayPal, GrabPay, SingTel, and Card Payment. There's no registration, or log-in required!
                        </p>

                        <p>
                            Download Mobile Legends: Bang Bang now!
                        </p>

                        <div class="downloadsections">
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/downloadapple.png') }}" alt="apple" class="me-2" style="border:1px solid #666;border-radius:5px;" />
                            </a>
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/downloadgoogleplay.png') }}" alt="apple" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 col-12 pe-lg-3 pe-sm-3 rightsections">
                    <div class="sidedivs">

                        <fieldset id="fieldset">
                            <legend>
                                <span class="fw-bold spansymbols mx-3">1</span>
                                <h5 class="ms-5 ps-4 fw-bold">Enter User ID</h5>
                            </legend>
                            <form action="/" method="POST" class="needs-validation">
                                <div class="container-fluid">
                                    <div class="row userinputs">

                                            <div class="col-lg-4 col-md-6 col-6 px-lg-2 px-1 ">
                                                <input type="number" name="userid" id="userid" class="form-control userid ids" placeholder="Enter User ID" value="{{ userid }}" />
                                                <div class="invalid-feedback text-center">This field is required</div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-5 px-lg-2 px-1">
                                                <div class="brackets"></div>
                                                <input type="number" name="serverid" id="serverid" class="form-control serverid ids" placeholder="Zone ID" value="{{ zoneid }}"  />
                                                <div class="invalid-feedback text-center">This field is required</div>

                                            </div>

                                            <div class="col-lg-4 col-md-12 col-1 mt-2 questionmarks">
                                                <span class="text-white fw-bold">?</span>
                                                <img src="{{ url_for('static', filename='img/error.png') }}" alt="errorimg" class="errorimgs" width="500px" />
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>

                       <div class="container-fluid mt-1">
                            <p class="sentences pb-2">
                                To find your User ID, click on your avatar in the top left corner of the main game screen. Then go to the "Basic Info" tab. Your user ID is shown below your nickname. Please input the complete user ID here, e.g. 12345678(1234).
                            </p>
                       </div>
                    </div>

                    <div class="mt-5 seconddivs sidedivs">
                        <fieldset>
                            <span class="fw-bold mx-3 spansymbols">2</span>
                            <h5 class="ms-5 ps-4 fw-bold">Select Recharge</h5>
                        </fieldset>
                        <ul class="buttons">
                            {% for diamond in diamonds %}
                                <li>
                                    <div class="button1">
                                        <span>{{ diamond }} Diamonds</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidedivs mt-4">
                        <fieldset id="fieldset">
                            <legend>
                                <span class="fw-bold spansymbols mx-3" style="transform:translateY(-1px);">3</span>
                            </legend>
                        </fieldset>

                        <div class="container mt-4">
                            <div class="paymentsections">

                                    <div class="actualcost roundedcorners">
                                        <span id="diamondprice">0.00</span>
                                    </div>

                                    <div class="minus"></div>

                                    <div class="discount roundedcorners">
                                        <span>0%</span>
                                    </div>

                                    <div class="equal"></div>

                                    <div class="finalcost roundedcorners">
                                        <span>0</span>
                                    </div>

                            </div>

                            <div class="d-grid mt-3 pb-1 roundedcorners">
                                <button class="btn btn-primary rounded-0 text-uppercase purchasebtns" onclick="bought();">Purchase</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Start Left & Right Section -->

    <!-- START FOOTER SECTION -->
    <footer class="">
        <div class="footersections">
            <div class="left-credit-section text-center" style="border-right:1px solid;">
                <span>Credit-To CodaShop</span>
            </div>
            <div class="mid-social-section text-center" style="border-right:1px solid;">
                <a href="https://www.facebook.com/profile.php?id=100008789864076" class="me-4"><i class="fab fa-facebook"></i></a>
                <a href="#" class="me-4"><i class="fab fa-viber"></i></a>
                <a href="#" class="me-4"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
            <div class="right-year-section text-center">
                <span class="yearNow"></span><span> ,Code written by Aung Khant Ko Ko.</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->




    <!-- Start Modal Section -->

    <!--START Logout modal-->
    <div id="logoutmodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Sure!</h3>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <h4>Press Logout to logout.</h4>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success btn-sm px-3" data-bs-dismiss="modal">Stay</button>
                    <a href="/logout" class="btn btn-danger btn-sm" data-bs-dismiss="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--END Logout modal-->

    <!-- START GOLD modal -->
    <div id="goldmodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body goldcardbody">
                        <ul class="goldbuttons">
                        {% for coinprice in coinprices %}
                            <li>
                                <div class="card goldcardbuttons">
                                    <div class="card-body pb-0">
                                        <div class="text-center">
                                            <img src="{{ url_for('static', filename='img/coinsbuy.png') }}" alt="coin" class="mb-2 buycoins" />
                                            <h5>{{ coinprice }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <h6 class="mx-auto" style="font-style:italic;">
                            <span class="commas">&ldquo;</span>
                                Click to
                                    <button  type="button" id="purchasebtn" class="btn btn-primary btn-sm p-0 px-2 mb-1 text-uppercase" data-bs-dismiss="modal" onclick="submit();" style="font-style:italic;" >
                                        Purchase
                                    </button>
                            <span class="commas">&rdquo;</span>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END GOLD modal -->

    <!-- End Modal Section -->

    <script type="text/javascript">
        var userid = document.querySelector('#userid');
        var serverid = document.querySelector('#serverid');

        userid.onblur = function(){
            let value = userid.value;
            if(!value){
                userid.classList.add('is-invalid');
                userid.style.border = '1px solid rgba(0,0,0,0.2)';
                userid.style.backgroundImage = 'none';
                userid.style.paddingLeft = '36px';
                userid.style.boxShadow = 'none';
            }
            else{
                userid.classList.remove('is-invalid');
                userid.style.paddingLeft = '0px';
            };
        };

        serverid.onblur = function() {
            let value = serverid.value;
            if(!value){
                serverid.classList.add('is-invalid');
                serverid.style.border = '1px solid rgba(0,0,0,0.2)';
                serverid.style.backgroundImage = 'none';
                serverid.style.paddingLeft = '36px';
                serverid.style.boxShadow = 'none';
            }
            else{
                serverid.classList.remove('is-invalid');
                serverid.style.paddingLeft = '0px';
            }
        }
        // END INPUT INVALIDS


        // START SPAN QUESTION MARK
        var errorimg = document.querySelector(".errorimgs");
        var qusetionmark = document.querySelector(".questionmarks");

        qusetionmark.onmouseover = function(){
            errorimg.style.display = 'block';
        }
        qusetionmark.onmouseout = function(){
            errorimg.style.display = 'none';
        }
        // END SPAN QUESTION MARK

        // start footer section
        const yearNow = document.querySelector('.yearNow');
        const getYear = new Date().getFullYear();
        yearNow.textContent = getYear;
        // end footer section


        // START GOLD selection
        var gbuttons = document.querySelector('.goldbuttons');

        var goldprice = document.querySelector('#coinprice');

        var values = Number(goldprice.textContent);

        var user_coin = values;

        var purchasebtn1 = document.querySelector('#purchasebtn');

        // let myjson = []

        // storing coins from flask
        var coinjson = JSON.parse('{{ coinjson | tojson | safe }}');

        // bankmoney from flask
        let bankmoney = JSON.parse('{{ bankmoney | tojson | safe }}')[0].amount;

        for(let i = 1; i < gbuttons.childNodes.length; i+=2){

            var btn_before = window.getComputedStyle(gbuttons.childNodes[i].firstElementChild,'::before');
            var btn_after = window.getComputedStyle(gbuttons.childNodes[i].firstElementChild,'::after');

            gbuttons.childNodes[i].onclick = () => {
                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',1);
                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',1);

                if(i==1 || i==3 || i==5 || i==7 || i==9 || i==11){
                    // i > opacity 0  --
                    // i < opacity 0  ++
                    for(let j = 1; j < i; j+=2){
                        if(i > j) {
                            gbuttons.childNodes[i - (j+1)].firstElementChild.style.setProperty('--goldbtnbefore',0);
                            gbuttons.childNodes[i - (j+1)].firstElementChild.style.setProperty('--goldbtnafter',0);
                        };
                    };

                    for(let k = 11; k > 1; k-=2){
                        if(i < k){
                            gbuttons.childNodes[k].firstElementChild.style.setProperty('--goldbtnbefore',0);
                            gbuttons.childNodes[k].firstElementChild.style.setProperty('--goldbtnafter',0);
                        };
                    };

                };


                // for ui
                switch(i){
                    case 1:
                        purchasebtn1.onclick = function submit() {

                            if (coinjson[0].amount <= bankmoney) {

                                user_coin += coinjson[0].amount;

                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[0].amount;



                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[0].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();

                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;

                    case 3:
                        purchasebtn1.onclick = function submit() {
                            if (coinjson[1].amount <= bankmoney) {

                                user_coin += coinjson[1].amount;


                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[1].amount;

                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',0);
                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',0);

                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[1].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();

                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;

                    case 5:
                        purchasebtn1.onclick = function submit() {
                            if (coinjson[2].amount <= bankmoney) {

                                user_coin += coinjson[2].amount;

                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[2].amount;

                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',0);
                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',0);

                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[2].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();

                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;

                    case 7:
                        purchasebtn1.onclick = function submit() {
                            if (coinjson[3].amount <= bankmoney) {

                                user_coin += coinjson[3].amount;

                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[3].amount;

                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',0);
                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',0);

                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[3].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();

                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;

                    case 9:
                        purchasebtn1.onclick = function submit() {
                            if (coinjson[4].amount <= bankmoney) {

                                user_coin += coinjson[4].amount;

                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[4].amount;

                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',0);
                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',0);


                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[4].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();

                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;

                    case 11:
                        purchasebtn1.onclick = function submit() {
                            if (coinjson[5].amount <= bankmoney) {

                                user_coin += coinjson[5].amount;

                                goldprice.textContent = user_coin;

                                bankmoney -= coinjson[5].amount;

                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnbefore',0);
                                gbuttons.childNodes[i].firstElementChild.style.setProperty('--goldbtnafter',0);

                                let entry = {
                                    "coins" : user_coin,
                                    'coinbought' : coinjson[5].amount
                                }

                                const request = new XMLHttpRequest();
                                request.open("POST",`/process/${JSON.stringify(entry)}`);
                                request.onload = () => {
                                    const flaskMessage = request.responseText;
                                    console.log(flaskMessage);
                                }
                                request.send();
                            }

                            else {
                                window.alert('You have not enough money in your bankaccount to buy coins');
                            }
                        }
                        break;
                }
            };
        };

        //Start of diamonds selection

        var buttons = document.querySelector('.buttons');

        const DIS = 0.05

        // getting from document
        var actualprice = document.querySelector('#diamondprice');
        var discountprice = document.querySelector('.discount');
        var finalprice = document.querySelector('.finalcost');


        // getting the actual values
        let actual_value = actualprice.value
        let actual_text = Number(actualprice.textContent);

        actual_value = actual_text

        // getting the discount value
        let discount_value = discountprice.value;
        let discount_text = Number(discountprice.textContent);
        discount_value = discount_text

        // getting the final value
        let final_value = finalprice.value;
        let final_text = Number(finalprice.textContent);

        final_value = final_text

        // button
        var purchasebtn = document.querySelector('.purchasebtns');

        // diamount in the navbar
        var diaamount = document.querySelector('.diamondamounts');
        diaamount.value = Number(diaamount.textContent);



        // parsing the json from flask
        var diamondjson = JSON.parse('{{ diamondjson | tojson | safe }}');

        for(let i = 1; i < buttons.childNodes.length; i+=2){

            var btn_before = window.getComputedStyle(buttons.childNodes[i].firstElementChild,'::before');
            var btn_after = window.getComputedStyle(buttons.childNodes[i].firstElementChild,'::after');
            buttons.childNodes[i].onclick = () => {
                buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',1);
                buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',1);

                if(i==1 || i==3 || i==5 || i==7 || i==9 || i==11 || i==13 || i==15 || i==17){
                    // i > opacity 0  --
                    // i < opacity 0  ++
                    for(let j = 1; j < i; j+=2){
                        if(i > j) {
                            buttons.childNodes[i - (j+1)].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i - (j+1)].firstElementChild.style.setProperty('--btnafter',0);
                        };
                    };

                    for(let k = 17; k > 1; k-=2){
                        if(i < k){
                            buttons.childNodes[k].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[k].firstElementChild.style.setProperty('--btnafter',0);
                        };
                    };

                };

                if(i == 1){
                    actual_value = diamondjson[0].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;


                    purchasebtn.onclick = function bought() {
                        if(diamondjson[0].price <= user_coin) {
                            diaamount.value += diamondjson[0].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            // getting the actual coin value.
                            user_coin -= diamondjson[0].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[0].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open("POST",`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returnn = request.responseText;
                                console.log(returnn);
                            };
                            request.send();
                        }

                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 3){
                    actual_value = diamondjson[1].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {

                        if(diamondjson[1].price <= user_coin) {

                            diaamount.value += diamondjson[1].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[1].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[1].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 5){
                    actual_value = diamondjson[2].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {
                        if(diamondjson[2].price <= user_coin) {

                            diaamount.value += diamondjson[2].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[2].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[2].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 7){
                    actual_value = diamondjson[3].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {
                        if(diamondjson[3].price <= user_coin) {

                            diaamount.value += diamondjson[3].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[3].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[3].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 9){
                    actual_value = diamondjson[4].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;
                    purchasebtn.onclick = function bought() {
                        if(diamondjson[4].price <= user_coin) {

                            diaamount.value += diamondjson[4].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[4].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[4].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 11){
                    actual_value = diamondjson[5].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {
                        if(diamondjson[5].price <= user_coin) {

                            diaamount.value += diamondjson[5].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[5].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[5].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 13){
                    actual_value = diamondjson[6].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;
                    purchasebtn.onclick = function bought() {
                        if(diamondjson[6].price <= user_coin) {

                            diaamount.value += diamondjson[6].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[6].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[6].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 15){
                     actual_value = diamondjson[7].price
                     actualprice.textContent = actual_value

                     discount_value = DIS;
                     discountprice.textContent = (discount_value * 100) + "%";

                     final_value = actual_value - discount_value;
                     finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {
                        if(diamondjson[7].price <= user_coin) {

                            diaamount.value += diamondjson[7].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;

                            user_coin -= diamondjson[7].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);

                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[7].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };

                if(i == 17){
                    actual_value = diamondjson[8].price
                    actualprice.textContent = actual_value

                    discount_value = DIS;
                    discountprice.textContent = (discount_value * 100) + "%";

                    final_value = actual_value - discount_value;
                    finalprice.textContent = final_value;

                    purchasebtn.onclick = function bought() {
                        if(diamondjson[8].price <= user_coin) {

                            diaamount.value += diamondjson[8].amount;
                            let dAmount = diaamount.value;
                            diaamount.textContent = diaamount.value;


                            user_coin -= diamondjson[8].price;
                            goldprice.textContent = user_coin;

                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnbefore',0);
                            buttons.childNodes[i].firstElementChild.style.setProperty('--btnafter',0);


                            let diamond_entry = {
                                'diamondAmount' : dAmount,
                                'diamondPrice' : diamondjson[8].price,
                                'coinafter' : user_coin
                            }

                            const request = new XMLHttpRequest();
                            request.open('POST',`/diamonds/${JSON.stringify(diamond_entry)}`);
                            request.onload = () => {
                                const returrn = request.responseText;
                                console.log(returrn);
                            };
                            request.send();
                        }
                        else {
                            window.alert('You have insufficient coin to buy the requested diamond,Sir.')
                        }
                    }
                };
            };
        };
        // End of diamonds selection
    </script>
{% endblock %}


