<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <link href="{{ url_for('static', filename='img/miya.png') }}" rel="icon" type="img/png" sizez="16x16" />

        <!-- boostrap css -->
        <link href="{{ url_for('static',filename='css/boostrap.css') }}" rel="stylesheet" type="text/css" />

        <!-- fontawesome css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- custome css -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>


            <!-- Start Navbar -->
            <nav class="navbar navbar-expand-sm bg-light navbar-light">

                <a href="/" class="navbar-brand ms-3">
                    <img src="{{ url_for('static', filename='img/diamond.png') }}" alt="diamond" class="diamondimg" />
                </a>


                <button class="navbar-toggler ms-auto collapsebuttons" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="icons"></span>
                </button>

                {% if users %}
                   <div class="container">
                        <div id="mynavbar" class="navbar-collapse collapse">

                            <ul class="navbar-nav ms-md-auto navbars">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">
                                        <img src="{{ url_for('static', filename='img/diamondamount.png') }}" alt="diamondamonut" class="logo" />
                                        <span class="diamondamounts">0</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-bs-target="#goldmodal" data-bs-toggle="modal" class="nav-link mt-1 mx-3 me-5" style="cursor:pointer;">
                                        <img src="{{ url_for('static', filename='img/coins.png') }}" alt="coins" class="coins" />
                                        <span name="coinamount" id="coinprice" class="coinamounts">{{ coin }}</span>
                                        <span class="fas fa-plus ms-2 plussign" data-bs-target="#goldmodal" data-bs-toggle="modal"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#logoutmodal" class="nav-link mt-1 fw-bold text-danger" data-bs-toggle="modal" style="font-size:20px;">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                   </div>
                {% else %}
                    <div class="container">
                        <div id="mynavbar" class="navbar-collapse collapse">
                            <ul class="navbar-nav ms-md-auto navbars">
                                <li class="nav-item">
                                    <a href="/login" class="nav-link mt-1 fw-bold text-danger" style="font-size:20px;">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                   </div>
                {% endif %}
            </nav>
    <!-- End Navbar -->
        <section>
            {% block content %}{% endblock %}
        </section>


    <!-- popper js -->
    <script src="{{ url_for('static',filename='js/popper.js') }}" type="text/javascript"></script>
    <!-- boostrap js -->
    <script src="{{ url_for('static',filename='js/boostrap.js') }}" type="text/javascript"></script>

    <!--jquery-->
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>

    </body>
</html>