{% extends "layout.html" %}

{% block title %}
MLBB | Log In
{% endblock %}
    {% block content %}
        <h1 class="text-center header">
            <img src="{{ url_for('static', filename='img/diamond.png') }}" alt="diamond" class="diamonds" />
            <span>Welcome to MLBB</span>
        </h1>

       <main>
            <div class="inputbox">
                <form action="/login" method="POST" class="forms">
                    <div class="form-group userids">
                        <span id="user"></span>
                        <input type="number" name="userid" id="userid" class="text-center mb-2 form-control userid inputids" placeholder="User ID" />
                    </div>
                    <div class="form-group zoneids">
                        <span id="zone"></span>
                        <input type="number" name="zoneid" id="zoneid" class="text-center mb-2 form-control zoneid inputids" placeholder="Zone ID" />
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn loginbuttons">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </main>



        <script type="text/javascript">
               var userid = document.querySelector('.userid');
               var zoneid = document.querySelector('.zoneid');

               var inputs = document.querySelector('.form-control')

               var btn_login = document.querySelector('.loginbuttons');

               userid.onblur = function() {
                   if(userid.value && (userid.value).length == 9) {
                       btn_login.style.color = "#fff";
                       btn_login.style.transform = 'scale(1)';
                       btn_login.style.boxShadow = '5px 5px 10px #000';
                       btn_login.classList.add('disabled');
                   }
                   else{
                       btn_login.style.transform = 'scale(0)';
                   }
               }

               zoneid.onkeyup = function() {

                   if(zoneid.value) {
                       btn_login.classList.remove('disabled');

                       let zvalue = zoneid.value
                       if(zvalue.length != 4){
                           btn_login.classList.add('disabled');
                       }

                   }

                   else{
                       btn_login.classList.add('disabled');
                   }
               }
        </script>

    {% endblock %}

